<a href="https://colab.research.google.com/github/AlexBB999/Classwork/blob/master/14_8_Feature_Engineering_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine

In [0]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import boxcox
from scipy.stats import jarque_bera
from scipy.stats import normaltest
from scipy.stats.mstats import winsorize
#from matplotlib.mlab import PCA as mlabPCA
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import warnings

In [0]:
warnings.filterwarnings('ignore')
sns.set(style="whitegrid")

In [0]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db =  'useducation'

In [0]:
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

In [0]:
ed0 = pd.read_sql_query('select * FROM useducation',con=engine)
#educate= engine.execute('SELECT * FROM useducation')
engine.dispose()

In [0]:
ed=ed0.copy()

In [0]:
education_df=ed0.copy()

In [188]:
ed.head(10)

                 PRIMARY_KEY  ... AVG_READING_8_SCORE
0               1992_ALABAMA  ...                 NaN
1                1992_ALASKA  ...          258.859712
2               1992_ARIZONA  ...          262.169895
3              1992_ARKANSAS  ...          264.619665
4            1992_CALIFORNIA  ...                 NaN
5              1992_COLORADO  ...          266.419687
6           1992_CONNECTICUT  ...          264.713904
7              1992_DELAWARE  ...          261.577921
8  1992_DISTRICT_OF_COLUMBIA  ...          265.976765
9               1992_FLORIDA  ...          262.118986

[10 rows x 25 columns]

In [0]:
ed['LOCAL_REVENUE'].max()

12504507.0

In [0]:
ed.describe()

              YEAR        ENROLL  ...  AVG_READING_4_SCORE  AVG_READING_8_SCORE
count  1492.000000  1.229000e+03  ...           533.000000           498.000000
mean   2004.433646  9.159308e+05  ...           218.866154           263.661132
std       7.393983  1.065280e+06  ...             7.769616             6.803725
min    1992.000000  4.386600e+04  ...           178.557612           236.379102
25%    1998.000000  2.583140e+05  ...           214.663401           259.533171
50%    2004.000000  6.483130e+05  ...           220.416034           265.010912
75%    2011.000000  1.014528e+06  ...           223.999337           268.190121
max    2017.000000  6.307022e+06  ...           236.773867           280.499130

[8 rows x 23 columns]

Create a new score variable from the weighted averages of all score variables in the datasets. Notice that the number of students in the 4th grade isn't the same as the number of students in the 8th grade. So, you should appropriately weigh the scores!.

What are the correlations between this newly created score variable and the expenditure types? Which 1 of the expenditure types is more correlated than the others?

Now, apply PCA to the 4 expenditure types. How much of the total variance is explained by the 1st component?

What is the correlation between the overall score variable and the 1st principal component?

If you were to choose the best variables for your model, would you prefer using the 1st principal component instead of the expenditure variables? Why?

**From Sample Solution**

In [0]:
fill_list = ["ENROLL", "TOTAL_REVENUE", "FEDERAL_REVENUE",
             "STATE_REVENUE", "LOCAL_REVENUE", "TOTAL_EXPENDITURE",
             "INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE",
             "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE", "GRADES_PK_G",
             "GRADES_KG_G", "GRADES_4_G", "GRADES_8_G", "GRADES_12_G", "GRADES_1_8_G",
             "GRADES_9_12_G", "GRADES_ALL_G"]

states = education_df["STATE"].unique()

for state in states:
    education_df.loc[education_df["STATE"] == state, fill_list] = education_df.loc[education_df["STATE"] == state, fill_list].interpolate()

# we drop the null values after interpolation
education_df.dropna(inplace=True)

In [0]:
education_df["overall_score"] = (education_df["GRADES_4_G"]*((education_df["AVG_MATH_4_SCORE"] + education_df["AVG_READING_4_SCORE"])*0.5) + education_df["GRADES_8_G"]
                                 * ((education_df["AVG_MATH_8_SCORE"] + education_df["AVG_READING_8_SCORE"])*0.5))/(education_df["GRADES_4_G"] + education_df["GRADES_8_G"])

In [203]:
education_df[["overall_score", "TOTAL_EXPENDITURE", "INSTRUCTION_EXPENDITURE",
              "SUPPORT_SERVICES_EXPENDITURE", "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE"]].corr()

                              overall_score  ...  CAPITAL_OUTLAY_EXPENDITURE
overall_score                      1.000000  ...                   -0.005389
TOTAL_EXPENDITURE                  0.074155  ...                    0.925784
INSTRUCTION_EXPENDITURE            0.087386  ...                    0.884798
SUPPORT_SERVICES_EXPENDITURE       0.079002  ...                    0.911245
OTHER_EXPENDITURE                  0.010959  ...                    0.918188
CAPITAL_OUTLAY_EXPENDITURE        -0.005389  ...                    1.000000

[6 rows x 6 columns]

In [216]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

X = education_df[["INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE",
                  "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE"]]

X = StandardScaler().fit_transform(X)

sklearn_pca = PCA(n_components=1)
education_df["pca_1"] = sklearn_pca.fit_transform(X)

print(
    'The percentage of total variance in the dataset explained by each',
    'component from Sklearn PCA.\n',
    sklearn_pca.explained_variance_ratio_
)

The percentage of total variance in the dataset explained by each component from Sklearn PCA.
 [0.9430175]

In [217]:
education_df[["overall_score", "pca_1", "TOTAL_EXPENDITURE", "INSTRUCTION_EXPENDITURE",
              "SUPPORT_SERVICES_EXPENDITURE", "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE"]].corr()

                              overall_score  ...  CAPITAL_OUTLAY_EXPENDITURE
overall_score                      1.000000  ...                   -0.005389
pca_1                              0.044596  ...                    0.955792
TOTAL_EXPENDITURE                  0.074155  ...                    0.925784
INSTRUCTION_EXPENDITURE            0.087386  ...                    0.884798
SUPPORT_SERVICES_EXPENDITURE       0.079002  ...                    0.911245
OTHER_EXPENDITURE                  0.010959  ...                    0.918188
CAPITAL_OUTLAY_EXPENDITURE        -0.005389  ...                    1.000000

[7 rows x 7 columns]

**End example solutuon stuff**

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

0 - **Clean up the data-- Missing Values**

1.   Average grades handled seperately since so many mssing values?

In [0]:
fill_list=list(ed)

In [0]:
fill_list2=['ENROLL',
 'TOTAL_REVENUE',
 'FEDERAL_REVENUE',
 'STATE_REVENUE',
 'LOCAL_REVENUE',
 'TOTAL_EXPENDITURE',
 'INSTRUCTION_EXPENDITURE',
 'SUPPORT_SERVICES_EXPENDITURE',
 'OTHER_EXPENDITURE',
 'CAPITAL_OUTLAY_EXPENDITURE',
 'GRADES_PK_G',
 'GRADES_KG_G',
 'GRADES_4_G',
 'GRADES_8_G',
 'GRADES_12_G',
 'GRADES_1_8_G',
 'GRADES_9_12_G',
 'GRADES_ALL_G','AVG_MATH_4_SCORE',
 'AVG_MATH_8_SCORE',
 'AVG_READING_4_SCORE',
 'AVG_READING_8_SCORE']

In [0]:
fill_sub=['AVG_MATH_4_SCORE',
 'AVG_MATH_8_SCORE',
 'AVG_READING_4_SCORE',
 'AVG_READING_8_SCORE']

for col in fill_list2:
  ed[col]=ed[col].interpolate(limit_direction ='both')

In [0]:
states = ed["STATE"].unique()
for state in states:
    ed.loc[ed["STATE"] == state, fill_list2] = ed.loc[ed["STATE"] == state, fill_list2].interpolate()

In [0]:
ed.dropna(inplace=True)

In [0]:
#ed.info()

In [0]:
#ed.isnull().sum()

**Histograms for all 22 Numeric Features** (skipped year as categorical)

only a few look normal

there are outliers

plt.figure(figsize=(10,20))
#plt.subplots_adjust(right=1,top=1,bottom=.2,wspace=2)

plt.subplot(8,3,1)
plt.hist(ed['ENROLL'])
plt.title("ENROLL")

plt.subplot(8,3,2)
plt.hist(ed['TOTAL_REVENUE'])
plt.title("TOTAL_REVENUE'")

plt.subplot(8,3,3)
plt.hist(ed['FEDERAL_REVENUE'])
plt.title('FEDERAL_REVENUE')

plt.subplot(8,3,4)
plt.hist(ed['STATE_REVENUE'])
plt.title("STATE_REVENUE'")

plt.subplot(8,3,5)
plt.hist(ed['LOCAL_REVENUE'])
plt.title("LOCAL_REVENUE")

plt.subplot(8,3,6)
plt.hist(ed['TOTAL_EXPENDITURE'])
plt.title("TOTAL_EXPENDITURE")

plt.subplot(8,3,7)
plt.hist(ed['INSTRUCTION_EXPENDITURE'])
plt.title("INSTRUCTION_EXPENDITURE")

plt.subplot(8,3,8)
plt.hist(ed['SUPPORT_SERVICES_EXPENDITURE'])
plt.title("SUPPORT_SERVICES_EXPENDITURE")

plt.subplot(8,3,9)
plt.hist(ed['OTHER_EXPENDITURE'])
plt.title("OTHER_EXPENDITURE")

plt.subplot(8,3,10)
plt.hist(ed['CAPITAL_OUTLAY_EXPENDITURE'])
plt.title("CAPITAL_OUTLAY_EXPENDITURE")

plt.subplot(8,3,11)
plt.hist(ed['GRADES_PK_G'])
plt.title("GRADES_PK_G")

plt.subplot(8,3,12)
plt.hist(ed['GRADES_KG_G'])
plt.title("GRADES_KG_G")

plt.subplot(8,3,13)
plt.hist(ed['GRADES_4_G'])
plt.title("GRADES_4_G")

plt.subplot(8,3,14)
plt.hist(ed['GRADES_8_G'])
plt.title("GRADES_8_G")

plt.subplot(8,3,15)
plt.hist(ed['GRADES_12_G'])
plt.title("GRADES_12_G")

plt.subplot(8,3,16)
plt.hist(ed['GRADES_1_8_G'])
plt.title("GRADES_1_8_G")

plt.subplot(8,3,17)
plt.hist(ed['GRADES_9_12_G'])
plt.title("GRADES_9_12_G")

plt.subplot(8,3,18)
plt.hist(ed['GRADES_ALL_G'])
plt.title("GRADES_ALL_G")

plt.subplot(8,3,19)
plt.hist(ed['AVG_MATH_4_SCORE'])
plt.title("AVG_MATH_4_SCORE")

plt.subplot(8,3,20)
plt.hist(ed['AVG_MATH_8_SCORE'])
plt.title('AVG_MATH_8_SCORE')

plt.subplot(8,3,21)
plt.hist(ed['AVG_READING_4_SCORE'])
plt.title('AVG_READING_4_SCORE')

plt.subplot(8,3,22)
plt.hist(ed['AVG_READING_8_SCORE'])
plt.title('AVG_READING_8_SCORE')

plt.tight_layout()
#plt.show()

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

**Boxplots for all 22 -- whis=1.5**

plt.figure(figsize=(10,20))
#plt.subplots_adjust(right=1,top=1,bottom=.2,wspace=2)

plt.subplot(8,3,1)
plt.boxplot(ed['ENROLL'],whis=1.5)
plt.title("ENROLL")

plt.subplot(8,3,2)
plt.boxplot(ed['TOTAL_REVENUE'],whis=1.5)
plt.title("TOTAL_REVENUE'")

plt.subplot(8,3,3)
plt.boxplot(ed['FEDERAL_REVENUE'],whis=1.5)
plt.title('FEDERAL_REVENUE')

plt.subplot(8,3,4)
plt.boxplot(ed['STATE_REVENUE'],whis=1.5)
plt.title("STATE_REVENUE'")

plt.subplot(8,3,5)
plt.boxplot(ed['LOCAL_REVENUE'],whis=1.5)
plt.title("LOCAL_REVENUE")

plt.subplot(8,3,6)
plt.boxplot(ed['TOTAL_EXPENDITURE'],whis=1.5)
plt.title("TOTAL_EXPENDITURE")

plt.subplot(8,3,7)
plt.boxplot(ed['INSTRUCTION_EXPENDITURE'])
plt.title("INSTRUCTION_EXPENDITURE")

plt.subplot(8,3,8)
plt.boxplot(ed['SUPPORT_SERVICES_EXPENDITURE'])
plt.title("SUPPORT_SERVICES_EXPENDITURE")

plt.subplot(8,3,9)
plt.boxplot(ed['OTHER_EXPENDITURE'])
plt.title("OTHER_EXPENDITURE")

plt.subplot(8,3,10)
plt.boxplot(ed['CAPITAL_OUTLAY_EXPENDITURE'])
plt.title("CAPITAL_OUTLAY_EXPENDITURE")

plt.subplot(8,3,11)
plt.boxplot(ed['GRADES_PK_G'])
plt.title("GRADES_PK_G")

plt.subplot(8,3,12)
plt.boxplot(ed['GRADES_KG_G'])
plt.title("GRADES_KG_G")

plt.subplot(8,3,13)
plt.boxplot(ed['GRADES_4_G'])
plt.title("GRADES_4_G")

plt.subplot(8,3,14)
plt.boxplot(ed['GRADES_8_G'])
plt.title("GRADES_8_G")

plt.subplot(8,3,15)
plt.boxplot(ed['GRADES_12_G'])
plt.title("GRADES_12_G")

plt.subplot(8,3,16)
plt.boxplot(ed['GRADES_1_8_G'])
plt.title("GRADES_1_8_G")

plt.subplot(8,3,17)
plt.boxplot(ed['GRADES_9_12_G'])
plt.title("GRADES_9_12_G")

plt.subplot(8,3,18)
plt.boxplot(ed['GRADES_ALL_G'])
plt.title("GRADES_ALL_G")

plt.subplot(8,3,19)
plt.boxplot(ed['AVG_MATH_4_SCORE'])
plt.title("AVG_MATH_4_SCORE")

plt.subplot(8,3,20)
plt.boxplot(ed['AVG_MATH_8_SCORE'])
plt.title('AVG_MATH_8_SCORE')

plt.subplot(8,3,21)
plt.boxplot(ed['AVG_READING_4_SCORE'])
plt.title('AVG_READING_4_SCORE')

plt.subplot(8,3,22)
plt.boxplot(ed['AVG_READING_8_SCORE'],whis=1.5)
plt.title('AVG_READING_8_SCORE')

plt.tight_layout()
plt.show

**Winsorize all 22 features**

smaple solution did not winzorize

In [0]:
for col in fill_list2:
  ed[col]=winsorize(ed[col], (.05,.07))

**Winsorized Boxplots**

plt.figure(figsize=(10,20))
#plt.subplots_adjust(right=1,top=1,bottom=.2,wspace=2)

plt.subplot(8,3,1)
plt.boxplot(ed['ENROLL'],whis=1.5)
plt.title("ENROLL")

plt.subplot(8,3,2)
plt.boxplot(ed['TOTAL_REVENUE'],whis=1.5)
plt.title("TOTAL_REVENUE'")

plt.subplot(8,3,3)
plt.boxplot(ed['FEDERAL_REVENUE'],whis=1.5)
plt.title('FEDERAL_REVENUE')

plt.subplot(8,3,4)
plt.boxplot(ed['STATE_REVENUE'],whis=1.5)
plt.title("STATE_REVENUE'")

plt.subplot(8,3,5)
plt.boxplot(ed['LOCAL_REVENUE'],whis=1.5)
plt.title("LOCAL_REVENUE")

plt.subplot(8,3,6)
plt.boxplot(ed['TOTAL_EXPENDITURE'],whis=1.5)
plt.title("TOTAL_EXPENDITURE")

plt.subplot(8,3,7)
plt.boxplot(ed['INSTRUCTION_EXPENDITURE'])
plt.title("INSTRUCTION_EXPENDITURE")

plt.subplot(8,3,8)
plt.boxplot(ed['SUPPORT_SERVICES_EXPENDITURE'])
plt.title("SUPPORT_SERVICES_EXPENDITURE")

plt.subplot(8,3,9)
plt.boxplot(ed['OTHER_EXPENDITURE'])
plt.title("OTHER_EXPENDITURE")

plt.subplot(8,3,10)
plt.boxplot(ed['CAPITAL_OUTLAY_EXPENDITURE'])
plt.title("CAPITAL_OUTLAY_EXPENDITURE")

plt.subplot(8,3,11)
plt.boxplot(ed['GRADES_PK_G'])
plt.title("GRADES_PK_G")

plt.subplot(8,3,12)
plt.boxplot(ed['GRADES_KG_G'])
plt.title("GRADES_KG_G")

plt.subplot(8,3,13)
plt.boxplot(ed['GRADES_4_G'])
plt.title("GRADES_4_G")

plt.subplot(8,3,14)
plt.boxplot(ed['GRADES_8_G'])
plt.title("GRADES_8_G")

plt.subplot(8,3,15)
plt.boxplot(ed['GRADES_12_G'])
plt.title("GRADES_12_G")

plt.subplot(8,3,16)
plt.boxplot(ed['GRADES_1_8_G'])
plt.title("GRADES_1_8_G")

plt.subplot(8,3,17)
plt.boxplot(ed['GRADES_9_12_G'])
plt.title("GRADES_9_12_G")

plt.subplot(8,3,18)
plt.boxplot(ed['GRADES_ALL_G'])
plt.title("GRADES_ALL_G")

plt.subplot(8,3,19)
plt.boxplot(ed['AVG_MATH_4_SCORE'])
plt.title("AVG_MATH_4_SCORE")

plt.subplot(8,3,20)
plt.boxplot(ed['AVG_MATH_8_SCORE'])
plt.title('AVG_MATH_8_SCORE')

plt.subplot(8,3,21)
plt.boxplot(ed['AVG_READING_4_SCORE'])
plt.title('AVG_READING_4_SCORE')

plt.subplot(8,3,22)
plt.boxplot(ed['AVG_READING_8_SCORE'],whis=1.5)
plt.title('AVG_READING_8_SCORE')

plt.tight_layout()
plt.show

1-**Create a new score variable from the weighted averages of all score variables in the datasets. Notice that the number of students in the 4th grade isn't the same as the number of students in the 8th grade. So, you should appropriately weigh the scores!.**

In [0]:
#ed.describe()

In [0]:
ed['weighted']=(ed['AVG_MATH_4_SCORE']+ed['AVG_MATH_8_SCORE']+ed['AVG_READING_4_SCORE']+ed['AVG_READING_8_SCORE'])/4

In [177]:
ed.head()

       PRIMARY_KEY       STATE  ...  overall_score    weighted
0     1992_ALABAMA     ALABAMA  ...            NaN         NaN
1      1992_ALASKA      ALASKA  ...            NaN         NaN
2     1992_ARIZONA     ARIZONA  ...     235.639070  237.250705
3    1992_ARKANSAS    ARKANSAS  ...     235.441283  234.943060
4  1992_CALIFORNIA  CALIFORNIA  ...            NaN         NaN

[5 rows x 27 columns]

**What are the correlations between this newly created score variable and the expenditure types?**

**Which 1 of the expenditure types is more correlated than the others>**

In [0]:
ed_sub=ed[['weighted','TOTAL_EXPENDITURE','INSTRUCTION_EXPENDITURE','SUPPORT_SERVICES_EXPENDITURE','OTHER_EXPENDITURE','CAPITAL_OUTLAY_EXPENDITURE']]

In [196]:
ed_sub.corr()

                              weighted  ...  CAPITAL_OUTLAY_EXPENDITURE
weighted                      1.000000  ...                    0.019185
TOTAL_EXPENDITURE             0.102427  ...                    0.930754
INSTRUCTION_EXPENDITURE       0.115316  ...                    0.894034
SUPPORT_SERVICES_EXPENDITURE  0.108445  ...                    0.915849
OTHER_EXPENDITURE             0.031866  ...                    0.920763
CAPITAL_OUTLAY_EXPENDITURE    0.019185  ...                    1.000000

[6 rows x 6 columns]

In [0]:
len(list(ed_sub))

6

**INSTRUCION_EXPENDITURE HIGHEST CORRELATION**

///////////////////////////////////////////////////////////////////////////////

In [211]:
ed_sub.head()

      weighted  ...  CAPITAL_OUTLAY_EXPENDITURE
54  237.642041  ...                    680139.0
55  236.093013  ...                     97824.0
57  244.450174  ...                    318959.0
58  248.119618  ...                    186802.0
59  237.766088  ...                     47372.0

[5 rows x 6 columns]

In [0]:
#df[df.columns[2]]
p=ed_sub[ed_sub.columns[1:6]]

In [213]:
p.head()

    TOTAL_EXPENDITURE  ...  CAPITAL_OUTLAY_EXPENDITURE
54          3623946.0  ...                    680139.0
55          1376067.0  ...                     97824.0
57          3028305.0  ...                    318959.0
58          4079943.0  ...                    186802.0
59           694534.0  ...                     47372.0

[5 rows x 5 columns]

X = StandardScaler().fit_transform(p)
Xt = X.T
Cx = np.cov(Xt)

In [0]:
#Cx

In [0]:
# Calculating eigenvalues and eigenvectors.
eig_val_cov, eig_vec_cov = np.linalg.eig(Cx)

In [0]:
#eig_vec_cov

3-**Now, apply PCA to the 5 expenditure types.**

**How much of the total variance is explained by the 1st component?**

In [0]:
#
X = StandardScaler().fit_transform(p)
sklearn_pca = PCA(n_components=1)
ed["pc1"] = sklearn_pca.fit_transform(X)

In [235]:
print(
    'The percentage of total variance in the dataset explained by each',
    'component from Sklearn PCA.\n',
    sklearn_pca.explained_variance_ratio_
)

The percentage of total variance in the dataset explained by each component from Sklearn PCA.
 [0.9541168]

**95.4%**

In [0]:
#Y_sklearn

P = eig_vec_cov[:, 0]

# Transform X into Y.
Y = P.T.dot(Xt)

print(
    'The percentage of total variance in the dataset explained by each',
    'component from Sklearn PCA.\n',
    sklearn_pca.explained_variance_ratio_
)

4 - **What is the correlation between the overall score variable and the 1st principal component?**

In [0]:
ed_sub2=ed[['weighted','pc1','TOTAL_EXPENDITURE','INSTRUCTION_EXPENDITURE','SUPPORT_SERVICES_EXPENDITURE','OTHER_EXPENDITURE','CAPITAL_OUTLAY_EXPENDITURE']]

In [244]:
ed_sub2.corr()

                              weighted  ...  CAPITAL_OUTLAY_EXPENDITURE
weighted                      1.000000  ...                    0.013202
pc1                           0.072534  ...                    0.952869
TOTAL_EXPENDITURE             0.096278  ...                    0.928576
INSTRUCTION_EXPENDITURE       0.109277  ...                    0.889763
SUPPORT_SERVICES_EXPENDITURE  0.102267  ...                    0.913680
OTHER_EXPENDITURE             0.030638  ...                    0.924197
CAPITAL_OUTLAY_EXPENDITURE    0.013202  ...                    1.000000

[7 rows x 7 columns]

**7.2%**

5. **If you were to choose the best variables for your model, would you prefer using the first principal component instead of the expenditure variables? Why?**

No -- most others have higher correlation