<a href="https://colab.research.google.com/github/AlexBB999/Classwork/blob/master/18_5_KNN_Reression_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

We will load the dataset below that describes the antioxidant quality of lager.

The variables are as follows:
    
The dataset contains 7 variables :

- tpc - Total phenolic content
- ma - melanoidin content
- dsa - DPPH radical scavenging activity
- asa - ABTS radical cation scavenging activity
- orac - Oxygen radical absorbance activity
- rp - Reducing Power
- mca - Metal Chelaing Activity

In [2]:
lager = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/lager_antioxidant_reg.csv')

lager.head()

   beer     tpc     ma   dsa   asa  orac    rp    mca
0     1  148.23  13.37  0.66  0.81  3.81  0.45  10.65
1     2  160.38  10.96  0.63  0.64  2.85  0.41  15.47
2     3  170.41   9.22  0.62  0.81  3.34  0.48  15.70
3     4  208.65   9.65  0.90  1.01  3.34  0.50  76.65
4     5  146.03  11.72  0.64  0.90  3.18  0.47   9.39

We would like to predict the level of total phenolic content using the remaining 6 variables.

Start by removing the beer column since this column is the id for the observations.

In [0]:
#answer below:
lager.drop('beer',axis=1,inplace=True)
y=lager['tpc']

Split the data into train and test subsets. Select 25% of the data to be in the test subset. Use `tpc` as the y variable.

In [0]:
# answer below:
from sklearn.model_selection import train_test_split

y=lager['tpc']
X=lager.drop(['tpc'],axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [5]:
import statsmodels.api as sm
X_train = sm.add_constant(X_train)
results = sm.OLS(y_train, X_train).fit()

# We print the summary results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    tpc   R-squared:                       0.765
Model:                            OLS   Adj. R-squared:                  0.704
Method:                 Least Squares   F-statistic:                     12.48
Date:                Tue, 24 Mar 2020   Prob (F-statistic):           3.03e-06
Time:                        03:43:04   Log-Likelihood:                -130.14
No. Observations:                  30   AIC:                             274.3
Df Residuals:                      23   BIC:                             284.1
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         34.5841     21.024      1.645      0.114      -8.907      78.076
ma             1.2791      1.630      0.785      0.441      -2.093       4.651
dsa          110.8320     38.812      2.856      0.009      30.544     191.120
asa            4.1459     12.324      0.336      0.740     -21.349      29.641
orac          -1.6197      2.014     -0.804      0.429      -5.785       2.546
rp            57.5585     35.097      1.640      0.115     -15.045     130.162
mca            0.4740      0.214      2.217      0.037       0.032       0.916
==============================================================================
Omnibus:                        8.215   Durbin-Watson:                   1.886
Prob(Omnibus):                  0.016   Jarque-Bera (JB):                6.508
Skew:                          -0.979   Prob(JB):                       0.0386
Kurtosis:                       4.173   Cond. No.                         424.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2542: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

**////////////////////////////////////////////////////////////////////////////////**

KNN REGRESSION

In [20]:
from sklearn import neighbors

# Build our model.
knn = neighbors.KNeighborsRegressor(n_neighbors=10,weights='distance')
#X = pd.DataFrame(music.loudness)
#Y = music.bpm
knn.fit(X_train, y_train)


knn.predict(X_train)

array([221.94, 153.04, 186.96, 150.11, 183.54, 158.99, 230.25, 198.62,
       148.23, 162.99, 180.19, 111.05, 160.38, 238.33, 163.23, 170.41,
       177.83, 163.23, 208.65, 236.37, 135.76, 135.92, 169.51, 169.59,
       152.96, 159.81, 119.04, 109.5 ,  84.64, 235.06])

In [22]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(knn, X_train, y_train, cv=5)
print("Weighted Accuracy: %0.2f (+/- %0.2f)" % (score.mean(), score.std() * 2))

Weighted Accuracy: 0.18 (+/- 0.85)